<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>DBZ Comments</title>
    <link rel="stylesheet" href="comments.css">
  </head>
  <body>
    <div id="page-container">
      <header>
        <h1>DBZ FAN PAGE</h1>
        <h2>User Comments</h2>
      </header>

      <section id="user-comments-section">
        <ul>
          <li id="comment">
            <p id="user-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User Name: </p>
            <p>Favorite Character: </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comments: </p>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
