<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>DBZ Fan Page</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div id="page-container">
      <header>
        <h1>DBZ FAN PAGE</h1>
        <h2>We welcome all Dragon Ball Z Aficionados! Please enjoy your stay!</h2>
      </header>

      <div id="main-pic-container">
        <img src="http://www.erictaylorkid.com/img/dragon_ball_z_characters_banner.jpg" alt="DBZ Group">
      </div>

      <div id="body-container">
        <form id="form-container" method="POST" action="/">
          <p>Please tell us who your favorite DBZ Character is, and why</p>
          <label for="fav-char">Your Favorite Character</label>
          <input type="text" name="favchar" value="<% users.favchar %>"><br>
          <label for="why">Why</label>
          <textarea name="why" rows="3" cols="34" value="<% users.why %>"></textarea><br>
          <input type="submit">
        </form>
        <a href="localhost:3000/comments">
          <section id="second-page">
            <h2>SEE ALL COMMENTS</h2>
          </section>
        </a>
      </div>
    </div>
  </body>
</html>
